body {

    margin: 0;

    background: #111;

    color: white;

    font-family: Arial;
}

.game {

    display: flex;

    height: 100vh;
}

.left {

    width: 35%;

    background: #1a1a1a;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    border-right: 2px solid #333;
}

.left img {

    width: 300px;

    border-radius: 10px;

    border: 3px solid #555;
}

.left h2 {

    margin-top: 20px;
}

.left select {

    margin-top: 10px;

    padding: 10px;

    width: 200px;
}

.right {

    width: 65%;

    padding: 20px;

    display: flex;

    flex-direction: column;
}

#chat {

    flex: 1;

    border: 1px solid #444;

    padding: 10px;

    overflow-y: auto;

    background: #1c1c1c;

    margin-bottom: 10px;
}

.bottom {

    display: flex;
}

.bottom input {

    flex: 1;

    padding: 15px;

    font-size: 16px;
}

.bottom button {

    padding: 15px;

    cursor: pointer;

    background: crimson;

    color: white;

    border: none;
}

.message {

    margin: 10px 0;
}

.user {

    color: cyan;
}

.ai {

    color: orange;
}

.story {

    background: #222;

    padding: 15px;

    border-left: 5px solid crimson;

    margin-bottom: 15px;

    line-height: 1.5;
}
.accuseButton {

    margin-top: 15px;

    padding: 15px;

    background: darkred;

    color: white;

    border: none;

    cursor: pointer;

    font-size: 18px;
}

.accuseButton:hover {

    background: red;
}
#suspicionContainer {

    width: 250px;

    height: 25px;

    background: #333;

    margin-top: 10px;

    border-radius: 10px;

    overflow: hidden;
}

#suspicionBar {

    width: 0%;

    height: 100%;

    background: crimson;

    transition: 0.5s;
}

#suspicionText {

    margin-top: 5px;
}